@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Prasann, Welcome to Azure app service</h1> 
    <h2>@ViewData["Greeting"]</h2>
</div>
